*{margin: 0; height: 0;}
.head{
	height: 50px;
	background-color: #000;
}
.nav{
	height: 50px;
	width: 75%;
	margin: 0 auto;
	background-color: #0000FF;
}
.slider{
	height: 500px;
	width: 75%;
	margin: 0 auto;
	background-color: #FFFF00;
}
.content{
	height: 1000px;
	width: 75%;
	margin: 20px auto;
	background-color: #FF00FF;
}